/* div{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 217, 0);
}
p{
    color: rgb(38, 3, 165);
}
.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(10%, 100%, 50%);
}
.otra_caja{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 255,0.5);
    /* position: fixed;
    top: 0; */
}
.una_caja_mas{
    width: 150px;
    height: 150px;
    background-color: #1ecbe1;
}
.capibara{
    width: 150px;
    height: 150px;
    background-color: hsl(0, 100%, 50%);
}
*{
    color: rgb(12, 5, 0);
    font-weight: bolder;
}
#soy_unico{
    width: 250px;
    height: 50px;
    background-color: aqua;
}
a[title]{
    color: red;
}
button:hover{
    background-color: yellow;
    color: rebeccapurple;
}
input:disabled{
    background-color: gray;
}
p::first-line{
    color: rgb(9, 241, 1);
}
p::first-letter{
    color: red;
    font-size: 45px;
}
.capibara1,.capibara2,.capibara3{
    width: 100px;
    height: 100px;
    background-color: violet;

}
.padre p{
    color: red;
} */

/* clase 02/04/24 */

/* p#unico.foo p{
    color: violet;
}

p#unico.foo.bar{
    color: red;
}

p#unico.foo.bar.baz{
    color: blueviolet;
}

.main{
    color: rebeccapurple;
    border: 2px solid #ccc;
    padding: 1em;
}

.special{
    color: red;
    font-weight: bold;
}
.rectamgulo{
    width: 450;
    height: 250;
    background-color: darkslategray;
}

.caja{
    width: 50%;
    height: 150px;
    background-color: rgb(15, 125, 36);
}

.caja-interior{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 0, 200);

}

.caja-interior p{
    font-size: 2rem;
} */

body{
    margin: 0;
}
div{
    width: 250px;
    height: 250px;
    background-color: salmon;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    padding: 25px;
    /* border-left: 12px solid red;
    border-right: 12px solid red;
    border-top: 12px solid red;
    border-bottom: 12px dashed red; */
    border: 25px solid yellowgreen;
    margin: 25px;

}